body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(90, 162, 255);
    height: 100%;
}

.navbar-container {
    background-color: rgb(49, 93, 151);
    display: flex;
    justify-content: center;
    height: 27px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.nav-list li a:hover {
    background-color: #F3385A;
    color: white;
}

.nav-list li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(49, 93, 151);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-list li a:hover::before {
    opacity: 1;
}

.headerLogo {
    height: 200px;
    width: 100%;
}

.image-container {
    display: flex;
    justify-content: space-around;

}

.image {
    display: flex;
    justify-content: center;
    width: 30%;
    text-align: center;
    flex-basis: 33.33%;
}

.image p {
    margin-top: 10px;
}

.video-container {
    margin-top: 5px;
    margin-left: 35px;
    display: flex;
}

.footerItem {
    color: white;
    background-color: rgb(49, 93, 151);
    height: 40px;
}

.banner{
    margin-top: 2px;
    height: 100px;
    width: 100%;
}

.homepageLoginContainer {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: rgb(126, 126, 126);
}

.loginForm {
    text-align: center;
}

.loginItem {
    width: 40%;
    font-size: 100%;
    height: 3rem;
    margin: 1rem;
    text-align: center;
    background-color: lightgray;
    border: none;
    border-radius: 1em;
}

.loginButton {
    width: 37%;
    font-size: 100%;
    height: 3em;
    margin: 1em;
    text-align: center;
    background-color: #F3385A;
    border: none;
}

.skillContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(49, 93, 151);
    font-weight: 700;
    color: white;
}

.lessonContainer {
    background-color: rgb(90, 162, 255);
    padding: 5px;
}

.lessonTitle {
    font-weight: 700;
}

.highlightText {
    color: white;
    font-weight: 500;
}

.pageDivider {
    background-color: rgb(49, 93, 151);
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: white
}

.lessonCompleteCheckbox {
    width: 100%;
}

.celebrationToast {
    display: flex;
    justify-content: center;
}

.success {
    text-align: center;
    background-color: rgb(49, 133, 49);
    width: 100%;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}

.error {
    text-align: center;
    background-color: #F3385A;
    width: 100%;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}

.videoContainer {
    display: flex;
    justify-content: center;
}

.skillBarItem {
    cursor: pointer;
}

.learnNavItem {
    cursor: pointer;
}

.learnContainer {
    background-color: rgb(90, 162, 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.learnItem {
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 93, 151);
    text-align: center;
    border-radius: 10px;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    color: white;
}

.learnItemImg {
    width: 100%;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.learnItemTitle {
    font-weight: 800;
}

.learnItemLinksTitle {
    font-weight: 500;
}

.aboutUsParentContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
    background-color: rgb(49, 93, 151);
    border-radius: 5px;
    color: white;
    font-weight: 400;
    width: 75%;
    padding: 5px;
}

.aboutUsText {
    width: 50%;
    text-align: center;
}

.aboutUsImg {
    width: 120px;
    height: 120px;
    margin-right: 25px;
}

.quicklinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
}

.parentZoneContainer {
    background-color: rgb(90, 162, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.parentZoneContainer > a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
}

.parentZoneItem {
    cursor: pointer;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(49, 93, 151);
    border-radius: 10px;
    padding: 10px;
}

.parentZoneItem:hover {
    transition: all 0.5s;
    transform: scale(1.2);
}


.parentZoneImg {
    width: 50px;
    height: 50px;
}

.parentZoneText {
    color: white;
    font-weight: 500;
}

.lessonQuiz {
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 93, 151);
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: 500;
}

.lessonQuizQuestionInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.lessonQuizSubmit {
    width: 100%;
    background-color: #F3385A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* MEDIA QUERIES */

@media only screen 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .headerLogo {
        display: none;
    }

    .navbar-container {
        height: fit-content;
    }

    * {
        font-size: 1.4rem;
    }

    .parentZoneContainer {
        flex-direction: column;
    }

    .parentZoneItem:hover {
        transition: all 0.5s;
        transform: scale(1);
    }
}